body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: linear-gradient(100deg, #fff, gold, #fff, gold);
    background-size: 400% 400%;
}
        .time {
            height: 100px;
            width: 100%;
            padding: 50px;
        }
/*         span{
            font-size: 100px;
        } */
        button{
            font-size: 30px;
            background-color: rgb(253, 253, 253);
            color: black;
            border-radius: 40px;
            width: 200px;
            height: 50px;
        }
        button:hover{
            font-size: 25px;
            background-color: rgba(0, 0, 0, 0.438);
            color: rgb(241, 234, 234);
            border-radius: 50px;
            width: 190px;
            height: 50px;
        }
